{% extends 'menu.html' %}

{% block content %}
    <div class="row">
        <div class="col-8">
            <table class="table table-bordered table-hover">
            <tr>
                <th scope="col">Match between</th>
                <th scope="col">Winner</th>
            </tr>
            {% for match in match_list %}
                <tr>
                    <td>
                        {{ match.team1.name }} vs {{ match.team2.name }}
                    </td>
                    <td>
                        {% if match.winner %}
                            {{ match.winner.name }}
                        {% else %}
                            TBD
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
            </table>
        </div>
        <div class="col-4">
            {% if teamscount < tournament.no_of_teams %}
                <button class="btn btn-primary" onclick="window.location.href='{% url 'teams:addteam' tournament.id %}'">Add Team ({{ teamscount }}/{{ tournament.no_of_teams }})</button>
            {% endif %}
        </div>
    </div>

{% endblock content %}